.App {
	text-align: center;
	height: 100%;
	width: 100%;
	min-height: calc(100vh - 120px);
	position: relative;
	display: table;
}
.body {
	overflow-x: hidden;
	font-family: "Montserrat";
	font-size: 12px;
	background-color: 111111;
}
.test {
	text-align: center;
}

.homeDiv {
	width: 100%;
}

.banner {
	height: 2000px;
	width: 100%;
	display: block;
	overflow: auto;
}

.banner h1 {
	position: absolute;
	top: 210px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.homeIntroTitle {
	width: 100%;
}

.homeIntroDetail {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	top: 300px;
	width: 400px;
	text-align: center;
	font-size: 18px;
}
.homeIntroNavButtons {
	display: flex;
}

.homeIntroNavStart {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	top: 480px;
}

.homeIntroNavLearn {
	position: absolute;
	top: 480px;
	left: 50%;
}

.homeIntroProcess {
	position: absolute;
	top: 600px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.homeIntroProcessTitle {
	margin-left: -650px;
}
.homeIntroProcessImage {
	position: absolute;
	top: 210px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.homeIntroIdentify {
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.homeIntroIdentifyImage {
	position: absolute;
	left: -30%;
	top: 140px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.homeIntroIdentifyTextTitle {
	top: 100px;
	left: 50%;
	margin-right: -50%;
	margin-top: 90px;
	transform: translate(100%, -50%);
	width: 300px;
	text-align: left;
}

.homeIntroIdentifyTextBody {
	left: 50%;
	margin-right: -50%;
	transform: translate(100%, -50%);
	width: 300px;
	text-align: left;
}

.homeIntroOptimise {
	position: absolute;
	top: 1600px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.homeIntroOptimiseImage {
	position: absolute;
	left: 130%;
	top: 190px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.homeIntroOptimiseTextTitle {
	margin-top: 90px;
	margin-left: -180%;
	transform: translate(100%, -50%);
	width: 300px;
	text-align: left;
}

.homeIntroOptimiseTextBody {
	margin-top: 90px;
	margin-left: -180%;
	transform: translate(100%, -50%);
	width: 300px;
	text-align: left;
}

.bodyPanel {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	margin: auto;
}

.bodyPanel button {
	display: block;
}
.footerPanel {
	width: 100%;
	height: 60px;
	vertical-align: bottom;
}

.divQuizProgress {
	border: 1px solid white;
}
.progress-bar {
	background-color: rgb(235, 86, 86);
}

.btnTestRedirect:hover {
	cursor: pointer;
}

.btn {
	background-color: white;
	color: #111111;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.btn:hover {
	cursor: pointer;
	background-color: rgb(231, 230, 212);
}

.RetakeQuiz {
	background-color: #757575;
	color: #f8f8f8;
}

.RetakeQuiz:hover {
	background-color: #585757;
}

.teamNavButtons {
	height: auto;
	margin: auto;
	max-width: 890px;
	display: flex;
	margin-top: 40px;
	margin-bottom: 50px;
}

.teamNav {
	width: 50%;
}

.btn.showInfo,
.btn.showRoleAssign {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.imgRoleImage {
	max-width: 100%;
	height: auto;
	width: auto;
}

.divRoleTable {
	margin: auto;
	max-width: 890px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.divRoleInputs {
	margin-top: 100px;
}
.trRoleNames {
	height: auto;
}

.tblRoleTable,
.tblRoleInputTable {
	width: 100%;
}

.txtRoleName {
	width: 20%;
}

.inpTeam {
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
	box-sizing: border-box;
	background-color: #111111;
	color: #f8f8f8;
	border: 3px solid #f8f8f8;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
}

.inpTeam:hover {
	border-color: #888;
	cursor: pointer;
}
.inpTeam select {
	display: none;
}

.divRoleSubmit {
	margin-top: 70px;
	margin-bottom: 100px;
}

.btnRoleSubmit {
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.showTeam {
	width: 100%;
}

.divInputForm {
	width: 350px;
	margin: 0 auto;
}
