.headerPanel {
	width: 100%;
	height: 100px;
	background-color: #212121;
	display: flex;
	position: fixed;
	z-index: 2;
}

.divAllButtons {
	width: auto;
	display: inline-flex;
	margin-left: 50%;
	transform: translate(-50%, 0%);
}

.divBtnHome {
	height: 100%;
}

.btnHome {
	height: 100%;
	padding-top: 15px;
	display: inline-table;
	padding-right: 10px;
	padding-left: 10px;
}

.btnHome:hover {
	cursor: pointer;
	background-color: #111111;
}

.divTactfulIcon {
	display: inline;
	margin-top: 10px;
}

.tactfulIcon {
	height: 30px;
	margin-left: 20px;
}

.headerButtons {
	padding-left: 13%;
	width: 50%;
	display: inline-flex;
}

.divBtn {
	height: 100%;
	padding-right: 30px;
}

.headerButton {
	float: left;
	background-color: #212121;
	color: white;
	height: 100%;
	padding-top: 15px;
	display: inline-table;
	padding-right: 10px;
	padding-left: 10px;
}

.headerButton:hover {
	cursor: pointer;
	background-color: #111111;
}
