.domainResults {
	width: 40%;
	margin: auto;
	margin-top: 60px;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 60px;
	background-color: #f8f8f8;
	color: #303030;
}

.domainHeader {
	margin-top: 40px;
}
