.Quiz {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.QuizOverlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.QuizOverlayContent {
	position: relative;
	top: 20%;
	left: 30%;
	width: 40%;
	text-align: center;
	margin-top: 30px;
}

.QuizHelp {
	margin-top: 40px;
}

.divQuizBack {
	margin-top: 15px;
}

.btnQuizBack {
	background-color: white;
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
}
.btnQuizHelpShow {
	background-color: white;
	padding: 5px 10px;
	color: black;
	border-radius: 5px;
}

.btnQuizHelpShow:hover {
	cursor: pointer;
	color: rgb(40, 132, 207);
}

.divQuizHelpHide {
	height: auto;
	position: relative;
	top: 30%;
}

.btnQuizHelpHide {
	position: relative;
	top: 10%;
	background-color: white;
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
}

.btnQuizHelpHide:hover {
	cursor: pointer;
}

.quizResult {
	width: 500px;
	height: auto;
	word-wrap: break-word;
}
