.teamPage {
	width: 100%;
}

.teamTitle {
	width: 100%;
}

.inputRow {
	margin: 15px;
	padding-left: 10px;
	display: flex;
	justify-content: center;
}

.inputRowColour {
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	width: 20px;
	border-right: 20px;
}

.teamInput {
	margin-right: 10px;
}

.inputName {
	margin-left: 10px;
}

.btnRemoveField {
	width: 20px;
}

.btnRemoveField:hover {
	cursor: pointer;
}

.btnTeamAdd {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 40px;
}

.btnTeamAdd:hover {
	cursor: pointer;
}

.btnTeamSubmit {
	margin: auto;
}

.teamDomain {
	width: 60%;
	margin: auto;
	z-index: -1;
}

.more {
	margin-top: 15px;
}

.btnSpanDiv {
	margin: auto;
	margin-top: 20px;
}

.btnToggleSpan {
	color: black;
	background-color: white;
	padding: 5px 10px;
	border-radius: 5px;
}

.btnToggleSpan:hover {
	cursor: pointer;
}

.barGraph {
	position: relative;
	margin: auto;
	margin-top: 20px;
	width: 100%;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 1px 1px #77aaff, 2px 2px #77aaff, 3px 3px #77aaff, 4px 4px #77aaff,
		5px 5px #77aaff;
}
