.App {
	text-align: center;
	display: flex;
}

.test {
	text-align: center;
}

.leftPanel {
	width: 20%;
	float: left;
}

.leftPanel button {
	display: block;
	cursor: pointer;
}

.rightPanel {
	width: 90%;
}
