.App {
	text-align: center;
	display: flex;
}

.test {
	text-align: center;
}

.leftPanel {
	width: 20%;
	height: 100vw;
	float: left;
	border-right: 2px solid white;
}

.leftPanel button {
	display: block;
	cursor: pointer;
}

.rightPanel {
	width: 90%;
}

.quizResult {
	width: 500px;
	height: auto;
	word-wrap: break-word;
}

.inputTeamTitle {
	float: left;
	margin-left: 20px;
}

.showHome {
	display: flex;
}

.inputRow {
	margin: 15px;
}

.teamInput {
	margin-right: 10px;
}
